* {
  box-sizing: border-box;
}

body {
  max-width: 1100px;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo-left {
  cursor: pointer;
}

header .btn-right {
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 28px;
  padding: 5px 10px;
  font-size: medium;
  font-weight: 700;
}

.btn-right:hover {
  cursor: pointer;
  background-color: blue;
}

section {
  text-align: center;
}

section h1 {
  font-size: xx-large;
}

section p {
  font-size: large;
  color: gray;
}

.grid-skills {
  border: 1px solid black;
  height: 400px;
  width: 800px;
  display: grid;
  background-color: antiquewhite;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.grid-item {
  background-color: lightgray;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
